<mat-toolbar>
  <span>Draw on me</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button aria-label="Info icon" (click)="onClickInfo()">
    <mat-icon>info_outlined</mat-icon>
  </button>
</mat-toolbar>

<div class="main-container">
  <div class="drawing-container" freehand [fillColor]="'0x' + fillColor"></div>

  <div class="action-container">
    <button (click)="onUndo()" mat-icon-button>
      <mat-icon>undo</mat-icon>
    </button>
    <button (click)="onClear()" mat-icon-button>
      <mat-icon>delete_outline</mat-icon>
    </button>

    <button mat-icon-button
      [matMenuTriggerFor]="colorMenu"
      [style.color]="'#' + fillColor">
      <mat-icon>fiber_manual_record</mat-icon>
    </button>
    <mat-menu #colorMenu="matMenu" yPosition="above">
      <button *ngFor="let color of colors"
        mat-icon-button [style.color]="'#' + color"
        (click)="onPickColor(color)">
        <mat-icon>fiber_manual_record</mat-icon>
      </button>
    </mat-menu>

    <span class="toolbar-spacer"></span>
    <button (click)="onSend()" mat-icon-button>
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
